@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  --first-color: hsl(250, 69%, 61%);
  --secondray-color: hsl(250, 46%, 53%);
  --title-color: hsl(250, 8%, 15%);
  --text-color: hsl(250, 8%, 45%);
  --inpit-color: hsl(250, 70%, 96%);
  --container-color: #fff;
  --gray-background: rgb(228, 228, 228);
  --fill-black-color: rgb(26, 26, 26);

  --body-font: "Quicksand", sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.813rem;

  --font-medium: 500;
  --font-semi-bold: 600;
}

@media screen and(min-width:960px) {
  :root {
    --h1-font-size: 3rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--h1-font-size);
}

.section-sub {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 3rem;
}
.section-title,
.section-sub {
  text-align: center;
}

.container {
  max-width: 780px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--container-color);
}
.nav {
  max-width: 960px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav-logo:hover {
  color: var(--first-color);
}
.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--first-color);
}
.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav-close:hover {
  color: rgb(97, 95, 94);
}

.show-menu {
  bottom: 0;
}

.home-container {
  gap: 1rem;
}

.home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.homw-social-icon:hover {
  color: rgb(60, 10, 107);
}

.home-blob {
  width: 400px;
  fill: var(--first-color);
}
.home-blob-img {
  width: 120px;
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-size: var(--h2-font-size);
}

.home-sub {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.83rem;
}

.home-desc {
  margin-bottom: 0.93rem;
}

.home-scroll {
  display: none;
}

.home-scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home-scroll-button:hover {
  transform: translateY(0.25rem);
}

.home-scroll-mouse {
  font-size: 2rem;
}

.home-scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: 0.8rem;
}

.home-scroll-arrow {
  font-size: 1.25rem;
}

.button {
  display: inline-block;

  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: rgb(60, 10, 107);
}

.button-icon {
  font-size: 1.25rem;
  margin-left: 0.8rem;
  transition: 0.3s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

.main {
  margin-top: -8rem;
}

.about-img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about-desc {
  text-align: center;
  margin-bottom: 1.2rem;
}
.about-info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.about-info-title,
.about-info-name {
  display: block;
  text-align: center;
}

.about-buttons {
  display: flex;
  justify-content: center;
}

.about {
  background-color: var(--gray-background);
}

.writing-img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  fill: var(--fill-black-color);
}

.footer {
  padding-top: 2rem;
}

.footer-container {
  row-gap: 3.5rem;
}

.footer-bg {
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
  color: #fff;
}
.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: 0.8rem;
}
.footer-sub {
  font-size: var(--small-font-size);
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-link:hover {
  color: cornflowerblue;
}

.footer-copy {
  margin-top: 30px;
  font-size: var(--small-font-size);
  text-align: center;
}

.footer-title,
.footer-sub,
.footer-link {
  color: #fff;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: 3;
  transition: 0.4s;
}

.scrollup-icon {
  font-size: 1.5rem;
  color: #fff;
}

.show-scroll {
  bottom: 5rem;
}

/*==== dark and light ==*/

.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 0.3rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

body.dark-theme {
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(250, 18%, 93%);
  --inpit-color: hsl(250, 70%, 96%);
  --container-color: #000000;
  --gray-background: rgb(78, 78, 78);
  --fill-black-color: #fff;
}

/* contact page */

.contact-container {
  gap: 1rem;
}

.contact-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.contact-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.contact-social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.contact-social-icon:hover {
  color: rgb(60, 10, 107);
}

.section-one {
  padding: 11rem 0 2rem;
}
.contact-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-title {
  padding-bottom: 1rem;
}
.contact-sub {
  padding-bottom: 0.8rem;
}

.form-container {
  margin-top: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.labels {
  margin-top: 16px;
  margin-bottom: 16px;
}

.skills-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 6px;
}
.skills{
  background-color: var(--gray-background);
}

.skill {
  padding: 5px;
  min-width: 5%;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: normal;
  transition: transform 0.2s;
  cursor: pointer;
  
}

.skill:hover {
  transform: scale(1.2);
  background-color: var(--first-color);
  color: #fff;
}

/* experience page */

.intro-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-img {
  padding: 4rem 0 3rem;
}
.experience-img > img {
  border-radius: 4rem;
}
.experience-data {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.experience-title{
  margin-bottom: 2rem;
}
.experience-sub {
  padding: 0 2rem;
  justify-content: center;
}


.companies{
  display: flex;
  justify-content: center;
  padding-top: 3rem;

}
.companies-name {
  width: auto;
  height: 60px;
 

}
.other{
  background-color: var(--gray-background);
}
.experience-python{
  display: flex;
  padding-top: 4rem;
}
.python-img > img{
  width: 100%;
  padding-top: 2rem;
}
.experience-python{
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  margin: 20px 20px;
}

/* small screen */

@media screen and (max-width: 350px) {
  .container {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav-list {
    column-gap: 0;
  }
  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home-blob {
    width: 180px;
  }
  .main {
    margin-top: 0;
  }
  .section-one {
    padding: 1rem 0 2rem;
  }
}
/*medium*/
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home-data {
    grid-column: initial;
  }
  .home-img {
    justify-self: left;
    margin-left: -130px;
    margin-right: -23px;
  }
  .about-container,
  .writing-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .intro-experience {
    flex-direction: row;
  }
  .python-img > img{
    align-self: center;
   
  }
  .experience-python{
    align-items: center;
    flex-direction: row;
  }

}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section-sub {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer {
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }
  .nav-list {
    display: flex;
    column-gap: 2rem;
  }
  .nav-menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home-container {
    row-gap: 5rem;
  }
  .home-content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home-blob {
    width: 470px;
    left: 0;
  }
  .home-scroll {
    display: block;
  }
  .home-scroll-button {
    margin-left: 3rem;
  }
  .about-container {
    column-gap: 5rem;
  }
  .about-img {
    width: 350px;
  }
  .about-desc {
    text-align: initial;
  }

  .about-info {
    justify-content: space-between;
  }
  .about-buttons {
    justify-content: initial;
  }
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-bg {
    padding: 3rem 0 3.5rem;
  }
  .footer-links {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer-copy {
    margin-top: 4.5rem;
  }
  .footer-links {
    padding-top: 20%;
  }
}
/* bigger screen */

@media screen and(min-width:1024px) {
  .header,
  .main,
  .footer-container {
    padding: 0;
  }
  .home-blob {
    width: 520px;
  }
  .home-social {
    transform: translateX(-6rem);
  }
}
